

on post-fs-data
    #chmod 0666 /dev/goodix_penraw
    #chmod 0666 /sys/devices/platform/goodix_ts.0/gesture/double_en
    #chmod 0666 /sys/devices/platform/goodix_ts.0/writemode
    #chmod 0666 /proc/goodix_ts/edge_grip
    chmod 0755 /sys/devices/platform/goodix_ts.0/support_pen
    #chmod 0666 /sys/devices/platform/goodix_ts.0/edge_gridzone


#service touchscreen_hal_service /system/bin/vendor.lenovo.hardware.touchscreen@1.0-service
#    #class main
#    user root
#    group root 
#    seclabel u:r:recovery:s0
    
#start touchscreen_hal_service

service set_pen /system/bin/sh -c "echo 1 > /sys/devices/platform/goodix_ts.0/support_pen"
    user root
    group root
    oneshot
    seclabel u:r:recovery:s0
    
start set_pen

